.main__content {
  padding-top: 65px;
  background: @blue url('/wp-content/themes/hyper/img/main-bg.jpg') no-repeat top;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
}

.content {
  &__features {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
  }

  &__title {
    display: flex;
    justify-content: center;
    font-size: 90px;
    font-weight: 100;
    line-height: 70px;
    color: @white;
    margin: 0 auto;
  }

  &__descr {
    font-size: 62px;
    font-weight: 300;
    line-height: 76px;
    color: @white;
    max-width: 500px;
    position: relative;
    left: 80px;
    margin-top: 130px;
  }
}

.features__list {
  display: inline-block;;
  font-size: 25px;
  font-weight: 100;
  line-height: 30px;
  color: @white;
  max-width: 50%;
  padding-left: 100px;
}
