.product {
  &__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &__item {
    width: 250px;
    heigth: 500px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
  }

  &__item img:hover {
    opacity: .9;
  }

  &__img {
    width: 250px;
    height: 260px;
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    &:hover {
      color: @blue;
    }
  }

  &__price {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  &__buy {
    width: 150px;
    height: 40px;
    display: block;
    margin: 0 auto;
    padding-top: 0px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 700px;
    background-color: rgba(108, 223, 167, .8);
    color: @white;
    cursor: pointer;
    &:hover {
      background-color: rgb(108, 223, 167);
      color: @white;
    }
  }
}
