.popup {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 400px;
  height: 560px;
  border: 1px solid @grey;
  border-radius: 10px;
  color: @black;
  position: absolute;
  z-index: 10;
  background: @white;

  &__form {
    width: 240px;
    padding-top: 30px;
    margin: 0 auto;
  }

  &__field {
    width: 220px;
    height: 25px;
    padding: 5px 10px;
    border: 1px solid @grey;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    margin-top: 20px;
  }

  &__bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.65);
    overflow-x: hidden; overflow-y: hidden;
  }

  &__btn {
    text-align: center;
    width: 240px;
    height: 40px;
    display: block;
    margin: 15px auto;
    padding-top: 10px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 22px;
    background-color: rgba(108, 223, 167, .8);
    color: @white;
    cursor: pointer;
    &:hover {
      background-color: rgb(108, 223, 167);
      color: @white;
    }
  }
}
