.main__header {
  background: @white;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: @black;
  z-index: 5;
  border-bottom: 1px solid @grey;
}

.header {
  &__link {
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &-item {
      display: flex;
      font-size: 16px;
      line-height: 16px;
      font-weight: 300;
      letter-spacing: 1.5px;
      text-decoration: none;
      text-transform: uppercase;
      color: @black;

      &:hover {
        color: @blue;
      }

      &--logo  {
        background: url('/wp-content/themes/hyper/img/logo-mini.png') no-repeat center;
        width: 65px;
        height: 40px;

        &:hover {
          background: url('/wp-content/themes/hyper/img/logo-mini-hover.png') no-repeat center;
          width: 65px;
          height: 40px;
        }
      }
    }
  }

  &__list li {
    display: flex;
    padding-left: 50px;
    align-items: center;
  }

  &__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
  }

  &__phone {
    font-size: 18px;
    font-weight: 300;
    display: inline-block;
    text-transform: uppercase;
    padding-right: 50px;
    letter-spacing: 4px;
  }
}

.social__btn {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  margin: 15px;
  border-radius: 50%;
  background: @blue url('/wp-content/themes/hyper/img/sprite.png') no-repeat center;

  &:hover {
    background-color: rgb(108, 223, 167);
  }

  &--inst {
    background-position: -5px -5px;
    margin-right: 50px;
  }

  &--vk {
    background-position: -55px -5px;;
  }

  &--fb {
    background-position: -105px -5px; ;
  }
}
