/*
Theme Name: Hyper
Theme URI:
Author: ismwh
Author URI:
Description:
Version: 0.0.1
License:
License URI:
*/

@import url('wp-content/themes/hyper/less/var.less');
@import url('wp-content/themes/hyper/less/header/header.less');
@import url('wp-content/themes/hyper/less/content/content.less');
@import url('wp-content/themes/hyper/less/product/product.less');
@import url('wp-content/themes/hyper/less/popup/popup.less');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
